
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #151515;
}

.movie-card {
    margin-top: 5rem;
    height: 800px;
    text-align: center;
}

.movie-title {
    text-transform: uppercasel;
    /*add for animation*/
    transform:  translateY(-150px);
    animation:  slide-from-up 2s ease-in-out forwards;
}

@keyframes slide-from-up {
    55% {transform: translateY(11px);}
    100% {transform: translateY(0);}
}

.movie-poster-container img {
    margin-top: 2rem;
    height: 500px;
    border-radius: 15px;
    /*add for animation*/
    position: relative;
    -webkit-animation:glide 2s ease-in-out alternate infinite;
}

@-webkit-keyframes glide  {
    from {
       left: 1px;
       top:0px;
    }
    
    to {
       left:0.1rem;
       top:15px;
    }
 
 }

.movie-rating {
    display: inline-flexbox;
    border: 1px solid #151515;
    padding: 0.3rem;
    border-radius: 5px;




}
  
.movie-duration {
margin-left: 1rem;
letter-spacing: 0.2rem;
}

.movie-duration:before {
    content: "\2022";
}

.movie-info-quote {
    color: #151515a4;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-info-overview-title {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.movie-info-actions {
    font-size:1.1rem;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
    
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.movie-info-container > *:not(.movie-info-title){
    opacity: 0;
    /*for animation*/
    animation: fade-in 1.5s ease-in-out forwards;
    animation-delay: 0.9s;
}

@keyframes fade-in {
    80% {transform: translateY(11px)}
    100% {opacity: 1;}
}

  



footer {
    margin-top: -1rem;
    text-align: center;
    color: #777;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
 